*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: grey;
}
.mother{
    width: 375px;    
    background-color: #f3f3f3;
    position: relative;
    margin: 80px auto;
    padding: 24px 0;
}
.aaa{
    left: 50%;
    transform: translate(-50%, 0);
}
.topo, .fundo{
    position: fixed;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
}
.topo{    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    top: 0;
    padding: 0 21.5px;        
}
.topo img{
    width: 75px;
}
.topo ion-icon{
    font-size: 45px;
}
.fundo ion-icon:hover{
    cursor: pointer;
}
.fundo{   
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    bottom: 0;
    padding: 0 17.5px;   
}
.fundo input{
    height: 50px;
    width: 290px;
    border: 0cm;
}
.fundo input, .fundo input::placeholder{
    font-weight: 400;
    font-size: 18px;
}
.fundo input::placeholder{
    font-style: italic;
}
.fundo ion-icon{
    font-size: 26px;
}
.fundo ion-icon:hover{
    cursor: pointer;
}
.conteudo{    
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    display: none;
}
.conteudo li{
    margin: 4px 0;
    min-height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8.5px;
    box-sizing: border-box;    
}
li p{
    word-break: break-all;
}
.status{
    background-color: #DCDCDC;
}
.reservado{
    background-color: #FFDEDE;
}

.mensagens{
    font-family: 'Roboto', sans-serif;   
    font-size: 14px;
    font-weight: 400;
}

.mensagens span{
    color: #AAAAAA;
    margin-right: 8px;
}
.mensagens p{
    color: #000000;
}
.mensagens p strong{
    font-weight: 700;
}
.entrar-menu{
    cursor: pointer;
}
.sair-menu{
    position: absolute;
    z-index: 2;
    background-color: yellow;
    top: -80px;
    width: 100%;
    height: 624px;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.menu-participantes{
    padding: 20px;
    width: 259px;
    height: 624px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    top: -80px;
    right: 0;
}
.escolher-contatos{    
    margin: 5px 0 25px 0;    
}
.menu-participantes li{
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.escolher-contatos, .escolha-visibilidade{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
    color: #000000;
}
.escolha-visibilidade{
    text-align: center;
    margin: 30px 0 20px 0;
}
.contatos ion-icon, .visibilidade ion-icon{
    color: #000000;
    margin-right: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.contatos ion-icon{
    font-size: 25px;    
}
.visibilidade ion-icon{
    font-size: 22px;
}
.icone-nome{
    display: flex;
    align-items: center;
}

.escondido{
    display: none;
}